<li class="span3">
    #set($imgSm =$commodity.commodityImage+$imgSmall)
    <div class="thumbnail">
        <img alt="230x200" src=$imgSm>
        <div class="caption">
            #set($datasrc="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin="+$commodity.qq)
            <h3>$!commodity.commodityName $!{velocityCount}</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href=$datasrc class="btn btn-primary">QQ联系</a> <a href="/commodity/commodity_detail/$commodity.id" class="btn">详细</a></p>
        </div>
    </div>
</li>