<div class="masthead">
    <h3 class="muted" id="user_name" name="user_name">$nickname</h3>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/front/index">首页</a></li>
                    <li><a href="/commodity/commodityList/1">商品浏览</a></li>
                    <li><a href="/shop/add">我要开店</a></li>
                    <li><a href="/shop/shop_commodityList/1">我的店铺</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            栏目5
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Men</li>
                            <li><a href="list">Clothes</a></li>
                            <li><a href="list">Shoes</a></li>
                            <li><a href="list">Watches</a></li>
                            <li><a href="list">Jewlery</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Women</li>
                            <li><a href="list">Clothes</a></li>
                            <li><a href="list">Shoes</a></li>
                            <li><a href="list">Watches</a></li>
                            <li><a href="list">Jewlery</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            栏目6
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="aboutus.html">栏目</a></li>
                            <li><a href="contactus.html">栏目</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div><!-- /.navbar -->
</div>